table {
  margin: 0;
}

table {
  color: #333;
  background: white;
  font-size: 12pt;
  border-collapse: collapse;
}

table thead th,
table tfoot th {}

table caption {
  padding: .5em;
}

table th,
table td {
  padding: .5em;
  border: 1px solid lightgrey;
}